<h1 class="air">Panel - Aktualności</h1>
<form #newsForm="ngForm"
      (ngSubmit)="add(newsForm.value)"
      class="form-horizontal air--x2">
    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Tytuł</label>
        <div class="col-sm-10">
            <input name="title"
                   type="text"
                   ngModel
                   class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="content" class="col-sm-2 control-label">Treść</label>
        <div class="col-sm-10">
            <textarea name="content"
                      id="content"
                      cols="30"
                      rows="6"
                      class="form-control"
                      ngModel></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input name="isHidden"
                           type="checkbox"
                           ngModel>
                    Ukryty
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Dodaj nową aktualność</button>
        </div>
    </div>
</form>
<table class="table">
    <tr>
        <th class="table__column-spreader">Tytuł</th>
        <th>Stan</th>
        <th></th>
    </tr>
    <tr *ngFor="let item of news$ | async">
        <td>{{item.title}}</td>
        <td>{{item.isHidden ? 'ukryty' : 'widoczny'}}</td>
        <td class="table__tools">
            <button class="btn btn-link" (click)="edit(item.$key)">Edytuj</button>
            <button class="btn btn-danger" (click)="delete(item.$key)">Usuń</button>
        </td>
    </tr>
</table>

