.header {
    border-bottom: 4px solid darken(#009932, 5%);

    &__top {
        display: flex;
        flex-flow: column nowrap;

        &__nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            order: 2;
        }

        @media screen and (min-width: $screen-lg) {
            flex-flow: row nowrap;
            align-items: center;
            height: 50px;

            &__nav {
                order: 1;
            }
        }
    }

    &__title {
        font-size: 1.6rem;
        line-height: 1.2;
        position: relative;
        flex-grow: 1;
        margin: 0;
        z-index: $zIndex__logo;
    }

    &__logo {
        color: #333;
        display: block;
        padding: 10px 0 10px 50px;

        strong {
            font-size: 2.2rem;
            text-transform: uppercase;
            display: block;
        }

        &:hover,
        &:focus {
            color: #333;
            text-decoration: none;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 38px;
            height: 52px;
            background: url(assets/images/reksio-logo.svg) no-repeat 0 0;
        }

        @media screen and (min-width: $screen-sm) {
            font-size: 2rem;
            padding-left: 60px;

            strong {
                font-size: 2.6rem;
            }

            &:before {
                width: 49px;
                height: 67px;
            }
        }

        @media screen and (min-width: $screen-md) {
            padding-left: 80px;

            strong {
                font-size: 2rem;
                display: inline;
            }

            &:before {
                position: absolute;
                left: 0;
                top: 7px;
                width: 60px;
                height: 80px;
            }
        }

        @media screen and (min-width: $screen-lg) {
            &:before {
                top: 11px;
            }
        }
    }

    &__phones {
        display: flex;
        flex-flow: column nowrap;
        flex: 1;
        order: 1;

        a {
            font-size: 1.6rem;
            text-align: left;
            display: block;
            padding-left: 40px;
            margin: 10px 0 0;
            position: relative;
            transition: all .2s;

            &:after {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 50%;
                left: 5px;
                transform: translate(0, -50%);
                background: url(assets/images/telefon.svg) no-repeat 0 0;
            }

            &:before {
                content: '';
                display: block;
                width: 30px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: #c9302c;
            }
        }

        @media screen and (min-width: $screen-sm) {
            flex-flow: row nowrap;
            flex-grow: 1;
            justify-content: center;

            a {
                width: 50%;

                + a {
                    margin-left: 10px;
                }
            }
        }

        @media screen and (min-width: $screen-lg) {
            order: 2;
            justify-content: flex-end;

            a {
                margin: 0;
                width: auto;
            }
        }
    }

    &__btn-mobile {
        width: 42px;
        height: 39px;
        padding: 10px;
        border-color: #009932;
        background-color: #009932;

        &:hover,
        &:focus,
        &:active {
            border-color: #00802a;
            background-color: #00802a;
        }

        &:before {
            content: '';
            display: block;
            width: 20px;
            height: 10px;
            border-top: 3px solid #f8f8f8;
            border-bottom: 3px solid #f8f8f8;
        }

        &:after {
            content: '';
            display: block;
            width: 20px;
            height: 7px;
            border-bottom: 3px solid #f8f8f8;
        }

        &--active {
            position: relative;

            &:before,
            &:after {
                border: 0 none;
                height: 3px;
                background: #f8f8f8;
                position: absolute;
                top: 50%;
                left: 50%;
            }

            &:before {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &:after {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }

        @media screen and (min-width: $screen-md) {
            display: none;
        }
    }

    &__nav {
        overflow: hidden;
        background: #009932;
        height: 0;

        &--open {
            height: auto;
        }

        ul {
            padding: 0;

            @media screen and (min-width: $screen-md) {
                display: flex;
                margin: 0 0 0 65px;
            }
        }

        li {
            list-style-type: none;
            overflow: hidden;
        }

        a {
            color: #fff;
            font-size: 1.6rem;
            text-align: center;
            display: block;
            padding: 10px 15px;
            position: relative;
            z-index: $zIndex__nav;

            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: darken(#009932, 5%);
                transform: translateY(100%);
                transition: all .2s;
                z-index: -1;
            }

            &:hover,
            &:focus,
            &.active {
                text-decoration: none;

                &:after {
                    transform: translateY(0);
                }
            }
        }

        @media screen and (min-width: $screen-md) {
            height: auto;
        }
    }
}
