<h1>Oferta</h1>
<article>
    <section>
        <h2>Profilaktyka</h2>
        <ul>
            <li>Szczepienia ochronne przeciw chorobom zakaźnym: psów, kotów, królików</li>
            <li>Odrobaczanie</li>
            <li>Zabezpieczanie przeciw pchłom, kleszczom a także świerzbowcom i nużeńcom</li>
            <li>Antykoncepcja farmakologiczna (preparaty dla zwierząt)</li>
            <li>Dietetyka: doradztwo żywieniowe, wybór karm wiodących firm</li>
            <li>Suplementy diety: preparaty mineralno-witaminowe dla psów, kotów, zwierząt egzotycznych, ptaków</li>
            <li>Wystawianie Paszportów dla Zwierząt, znakowanie zwierząt (chipy)</li>
        </ul>
    </section>
    <section>
        <h2>Choroby wewnętrzne</h2>
        <ul>
            <li>Choroby układu moczowego</li>
            <li>Choroby układu oddechowego</li>
            <li>Choroby układu pokarmowego</li>
            <li>Choroby układu krążenia</li>
            <li>Dermatologia</li>
            <li>Endokrynologia</li>
            <li>Choroby jamy ustnej</li>
        </ul>
    </section>
    <section>
        <h2>Chirurgia</h2>
        <ul>
            <li>Sterylizacje suk i kotek</li>
            <li>Kastracje psów i kocurów</li>
            <li>Wnętrostwo</li>
            <li>Guzy nowotworowe</li>
            <li>Usuwanie przetrwałych zębów mlecznych</li>
            <li>Konsultacje chirurgiczne i ortopedyczne - wizyty po wcześniejszym umówieniu</li>
        </ul>
    </section>
    <section>
        <h2>Wizyty domowe</h2>
    </section>
    <section>
        <h2>Behawioryzm</h2>
    </section>
    <section>
        <h2>Badania dodatkowe</h2>
        <ul>
            <li>Badania krwi (morfologia, biochemia, hormony, pasożyty i inne)</li>
            <li>Badania moczu i kału</li>
            <li>Badania mikrobiologiczne i mykologiczne</li>
            <li>Badania histopatologiczne</li>
            <li>USG (wizyty na zapisy)</li>
            <li>EKG/ECHO SERCA (wizyty na zapisy)</li>
        </ul>
    </section>
</article>
