<header class="header">
    <div class="container header__top">
        <div class="header__phones">
            <a href="tel:576745600" class="btn btn-danger">
                576-745-600 - Gabinet
            </a>
            <a href="tel:535454360" class="btn btn-danger">
                535-454-360 - Agnieszka Lubowiecka
            </a>
        </div>
        <div class="header__top__nav">
            <h1 class="header__title">
                <a class="header__logo"
                   routerLink="aktualnosci">Gabinet Weterynaryjny <strong>Reksio</strong></a>
            </h1>
            <button class="btn btn-success header__btn-mobile"
                    [ngClass]="{'header__btn-mobile--active': showMobileMenu}"
                    (click)="toggleMenu(showMobileMenu)">
                <span class="sr-only">{{showMobileMenu ? 'Ukryj menu' : 'Pokaż menu'}}</span>
            </button>
        </div>
    </div>
    <nav class="header__nav"
         [ngClass]="{'header__nav--open': showMobileMenu}">
        <div class="container">
            <ul>
                <li *ngFor="let link of menuLinks">
                    <a routerLink="{{link.url}}"
                       routerLinkActive="active">{{link.label}}</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
