<h1>Karmy dla psów</h1>
<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#">Arion</a></li>
    <li role="presentation"><a href="#">Royal</a></li>
    <li role="presentation"><a href="#">Hills</a></li>
</ul>
<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#">Szczenięta</a></li>
    <li role="presentation"><a href="#">Dorosłe</a></li>
    <li role="presentation"><a href="#">Senior</a></li>
</ul>
<article>
    <section class="row">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <img src="/assets/images/lekarz.jpg" alt="">
                </div>
            </div>
            <div class="col-xs-6 col-md-9">
                <h3>Karma</h3>
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="#">Opis</a></li>
                    <li role="presentation"><a href="#">Skład</a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit omnis temporibus necessitatibus veritatis architecto,
                    neque saepe, minus animi sunt, repellat a? Quisquam facilis fugiat quas debitis fuga eius, dolores quae.</p>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <img src="/assets/images/lekarz.jpg" alt="">
                </div>
            </div>
            <div class="col-xs-6 col-md-9">
                <h3>Karma</h3>
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="#">Opis</a></li>
                    <li role="presentation"><a href="#">Skład</a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit omnis temporibus necessitatibus veritatis architecto,
                    neque saepe, minus animi sunt, repellat a? Quisquam facilis fugiat quas debitis fuga eius, dolores quae.</p>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <img src="/assets/images/lekarz.jpg" alt="">
                </div>
            </div>
            <div class="col-xs-6 col-md-9">
                <h3>Karma</h3>
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="#">Opis</a></li>
                    <li role="presentation"><a href="#">Skład</a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit omnis temporibus necessitatibus veritatis architecto,
                    neque saepe, minus animi sunt, repellat a? Quisquam facilis fugiat quas debitis fuga eius, dolores quae.</p>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <img src="/assets/images/lekarz.jpg" alt="">
                </div>
            </div>
            <div class="col-xs-6 col-md-9">
                <h3>Karma</h3>
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="#">Opis</a></li>
                    <li role="presentation"><a href="#">Skład</a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit omnis temporibus necessitatibus veritatis architecto,
                    neque saepe, minus animi sunt, repellat a? Quisquam facilis fugiat quas debitis fuga eius, dolores quae.</p>
            </div>
        </div>
    </section>
</article>
