<h1>O nas</h1>
<article [innerHtml]="oNasArticle$ | async"></article>

<h2>Lekarze</h2>
<div>
    <section class="row">
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <img src="/assets/images/lekarz.jpg" alt="">
            </div>
        </div>
        <div class="col-xs-6 col-md-9">
            <h3>Imię Nazwisko</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit omnis temporibus necessitatibus veritatis architecto,
                neque saepe, minus animi sunt, repellat a? Quisquam facilis fugiat quas debitis fuga eius, dolores quae.</p>
        </div>
    </section>
    <section class="row">
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <img src="/assets/images/lekarz.jpg" alt="">
            </div>
        </div>
        <div class="col-xs-6 col-md-9">
            <h3>Imię Nazwisko</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit omnis temporibus necessitatibus veritatis architecto,
                neque saepe, minus animi sunt, repellat a? Quisquam facilis fugiat quas debitis fuga eius, dolores quae.</p>
        </div>
    </section>
</div>
