<h1>Produkty dla psów</h1>
<div class="row">
    <div class="col-xs-6 col-md-4">
        <a routerLink="../produkty" class="thumbnail">
      <img src="/assets/images/pies.jpg" alt=""><br> Karmy
    </a>
    </div>
    <div class="col-xs-6 col-md-4">
        <a routerLink="../produkty" class="thumbnail">
      <img src="/assets/images/pies.jpg" alt=""><br> Obroże
    </a>
    </div>
</div>
