<h1 class="air">Panel - O nas</h1>
<form #oNasForm="ngForm"
      (ngSubmit)="saveONas(oNasForm.value)"
      class="form-horizontal air--x2">
    <div class="form-group">
        <label for="article" class="col-sm-2 control-label">Opis</label>
        <div class="col-sm-10">
            <textarea name="article"
                      id="article"
                      cols="30"
                      rows="6"
                      class="form-control"
                      [ngModel]="oNasArticle$ | async"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Zapisz</button>
        </div>
    </div>
</form>
<h2 class="air">Lekarze</h2>
<form #doctorsForm="ngForm"
      (ngSubmit)="addDoctor(doctorsForm.value)"
      class="form-horizontal air--x2">
    <div class="form-group">
        <label for="doctorName" class="col-sm-2 control-label">Imię i nazwisko</label>
        <div class="col-sm-10">
            <input name="doctorName"
                   type="text"
                   ngModel
                   class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="doctorPhoto" class="col-sm-2 control-label">Zdjęcie</label>
        <div class="col-sm-10">
            <input name="doctorPhoto"
                   type="text"
                   ngModel
                   class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="doctorContent" class="col-sm-2 control-label">Opis</label>
        <div class="col-sm-10">
            <textarea name="doctorContent"
                      id="doctorContent"
                      cols="30"
                      rows="6"
                      class="form-control"
                      ngModel></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input name="doctorIsHidden"
                           type="checkbox"
                           ngModel>
                    Ukryty
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Dodaj nowego lekarza</button>
        </div>
    </div>
</form>
<table class="table">
    <tr>
        <th class="table__column-spreader">Imię i nazwisko</th>
        <th>Stan</th>
        <th></th>
    </tr>
    <tr *ngFor="let item of doctors$ | async">
        <td>{{item.name}}</td>
        <td>{{item.isHidden ? 'ukryty' : 'widoczny'}}</td>
        <td class="table__tools">
            <button class="btn btn-link" (click)="editDoctor(item.$key)">Edytuj</button>
            <button class="btn btn-danger" (click)="deleteDoctor(item.$key)">Usuń</button>
        </td>
    </tr>
</table>
