<h1>Galeria</h1>
<h2>Gabinet i okolica</h2>
<p>http://kenwheeler.github.io/slick/</p>
<div class="row">
    <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
      <img src="/assets/images/pies.jpg" alt="">
    </a>
    </div>
    <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
      <img src="/assets/images/pies.jpg" alt="">
    </a>
    </div>
    <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
      <img src="/assets/images/pies.jpg" alt="">
    </a>
    </div>
</div>
<h2>Nasi dzielni pacjenci</h2>
<div class="row">
    <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
      <img src="/assets/images/pies.jpg" alt="">
    </a>
    </div>
    <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
      <img src="/assets/images/pies.jpg" alt="">
    </a>
    </div>
    <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
      <img src="/assets/images/pies.jpg" alt="">
    </a>
    </div>
</div>
