<h1>Kontakt</h1>
<article>
    <p>Zapraszamy Państwa do gabinetu na warszawskich Bielanach:</p>
    <h2>GABINET WETERYNARYJNY REKSIO</h2>
    <p><span>ul. Gąbińska 24 (obok Biedronki)</span><br><span>01-703 <strong>Warszawa-Bielany</strong></span></p>
    <p>GPS: 52.27404:20.95968</p>
    <p>Telefon: <a href="tel:535454360">535-454-360</a></p>
    <p>E-mail: <a href="mailto:kontakt@reksio-wet.pl">kontakt@reksio-wet.pl</a></p>
</article>
<article>
    <h2>Dojazd do gabinetu:</h2>
    <p>Samochód - przy gabinecie znajduje się parking.</p>
    <p>Metro - gabinet znajduje się ok. 7 minut pieszo (300m) od stacji <strong>Metro Słodowiec</strong>.</p>
    <p>Tramwaj nr 35 - gabinet znajduje się ok. 10 minut pieszo (500m) od przystanku <strong>Park Olszyna</strong>.</p>
    <p><a href="http://jakdojade.pl?tn=Gabinet+Weterynaryjny+Reksio&amp;td=Gabinet+weterynaryjny+dla+ma%C5%82ych+zwierz%C4%85t+w+dzielnicy+Warszawa+-+Bielany&amp;tc=52.27225:20.96004&amp;cid=3000"
            target="_blank">Link w serwisie jakdojade.pl</a></p>
    <div class="embed-responsive embed-responsive-4by3">
        <iframe width="425" height="350" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=&amp;q=warszawa,+gabinska+24&amp;aq=&amp;sll=52.132198,21.073791&amp;sspn=0.00818,0.022724&amp;ie=UTF8&amp;hq=&amp;hnear=G%C4%85bi%C5%84ska+24,+Warszawa,+Mazowieckie,+Polska&amp;t=m&amp;z=14&amp;ll=52.272326,20.960047&amp;output=embed"></iframe>
    </div>
</article>
