<h1>Sklep</h1>
<div class="row">
    <div class="col-xs-6 col-md-4">
        <a routerLink="../kategorie" class="thumbnail">
      <img src="/assets/images/pies.jpg" alt=""><br> Psy
    </a>
    </div>
    <div class="col-xs-6 col-md-4">
        <a routerLink="../kategorie" class="thumbnail">
      <img src="/assets/images/pies.jpg" alt=""><br> Koty
    </a>
    </div>
    <div class="col-xs-6 col-md-4">
        <a routerLink="../kategorie" class="thumbnail">
      <img src="/assets/images/pies.jpg" alt=""><br> Gryzonie
    </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-4">
        <a routerLink="../kategorie" class="thumbnail">
      <img src="/assets/images/pies.jpg" alt=""><br> Króliki
    </a>
    </div>
    <div class="col-xs-6 col-md-4">
        <a routerLink="../kategorie" class="thumbnail">
      <img src="/assets/images/pies.jpg" alt=""><br> Ptaki
    </a>
    </div>
</div>
