<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <aside class="col-sm-3 col-sm-push-9">
            <app-sidebar></app-sidebar>
        </aside>
        <main class="col-sm-9 col-sm-pull-3">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
