<h1>Logowanie</h1>
<button class="btn btn-primary"
        (click)="login()"
        *ngIf="!user.loggedIn">Zaloguj</button>
<button class="btn btn-primary"
        (click)="logout()"
        *ngIf="user.loggedIn">Wyloguj</button>
<a routerLink="/panel/aktualnosci">Aktualności</a>
