<h2>Aktualności</h2>
<p>Wizyty proszę umawiać telefonicznie: 576-745-600</p>
<article *ngFor="let item of news$ | async">
    <h3>{{item.title}}</h3>
    <div [innerHtml]="item.content"></div>
</article>
