<section class="panel">
    <h2 class="panel__title">Godziny otwarcia</h2>
    <p>Poniedziałek - Piątek: <strong>12-19</strong><br> Sobota: <strong>10-14</strong></p>
</section>
<section class="panel">
    <h2 class="panel__title">Kontakt</h2>
    <p>ul. Gąbińska 24 lok. 3,<br> Warszawa 01-703<br> E-mail: <a href="mailto:kontakt@reksio-wet.pl">kontakt@reksio-wet.pl</a></p>
</section>
