<h1 class="air">Panel - Aktualności - Edycja</h1>
<form #newsForm="ngForm"
      (ngSubmit)="save(newsForm.value)"
      class="form-horizontal air--x2"
      *ngIf="selected">
    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Tytuł</label>
        <div class="col-sm-10">
            <input name="title"
                type="text"
                [(ngModel)]="selected.title"
                class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="content" class="col-sm-2 control-label">Treść</label>
        <div class="col-sm-10">
            <textarea name="content"
                    id="content"
                    cols="30"
                    rows="6"
                    class="form-control"
                    [(ngModel)]="selected.content"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input name="isHidden"
                        type="checkbox"
                        [(ngModel)]="selected.isHidden">
                    Ukryty
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Zapisz aktualność</button>
            <button (click)="cancel()" class="btn btn-default">Anuluj</button>
        </div>
    </div>
</form>
